*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
#top-panel{
    text-align: center;
    max-width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
   
}
#view-scores{
    width: 15%; 
    font-size: 1rem;
    font-weight: 100;
    text-align: left;
    padding: 3px;
}
#timer{
    width: 15%;
    font-size: 1rem;
    font-weight: 100;
    text-align: right;
    padding: 3px;
    padding-right: 7px;

}